<div class="container editView">
  <a class="btn btn-sm btn-outline" href="/user/<%= child.id%>/child">Back</a>
  <a class="btn btn-sm btn-outline" href="/user/<%= child._id%>/entry/<%= entry._id%>/edit">Edit Entry</a>
    <form action="/user/<%= child._id%>/<%= entry._id%>/delete?_method=DELETE" method="POST">
      <input type="submit" class="btn btn-sm btn-outline" value="Delete Entry">
    </form>
</div>
<div class="container-fluid entryBodyView">
    <h3><%= entry.title%></h3>
    <p><span><%= time %></span></p>
    <p><%= entry.body%></p>
</div>

<div>
    
</div>  
